.first{
    padding-top:  10em;
    padding-bottom: 10em;
    margin-left: 20em;
    margin-right: 20em;
}

img{
    margin-bottom: 3em;
}

.second{
    margin-left: 20em;
    margin-right: 20em;
}

.third{
    padding-top: 10em;
    padding-bottom: 10em;
    margin-left: 20em;
    margin-right: 20em;
}